@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background: #f0f8ff;
  color: #262626;
}

/* 
  #F0F8FF - белый (бг / )
  #003E75 - синий
  #262626 -  черный
  
*/
